<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Front Page</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>Welcome to...</h1>
    <h2>La Front Page!</h2>
    <hr>
    <p>Pretty self explanatory. It's a front page for a website</p>
    <footer>
        <p>&copy; 2024 All rights reserverd!</p>
    </footer>
</body>
</html>