body {
    background: black;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
}

hr {
    width: 95%;
    height: 1px;
    border: none;
    background-color: white;
}

footer {
    background-color: gray;
    color: inherit;
    text-align: center;
    width: 100%;
    font-size: 14px;
    left: 0;
    bottom: 0;
    padding: 10px 0;
    position: fixed;
}

footer p {
    margin: 0;
}